body {
  width: 300px;
  margin: auto;
  margin-bottom: 10px;
}

h1, h3, h5 {
  padding: 0;
  margin: 0;
  text-align: center;
}

.keybindingsTable {
  margin: 0 auto;
  font-size: .85em;
}

.keybindingsBox {
  display: block;
  margin: 0 auto;
  width: 75%;
  background-color: grey;
  border: 1px solid black;
  box-shadow: 1px 1px 1px green;
}
.right {
  float: right;
}

.left {
  float: left;
}

header {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  background: grey;
  border: 1px solid black;
  font-size: 2em;
  text-align: center;
}

header > h5 {
  background-color: black;
  color: white;
  font-size: .25em;
}

td{
  text-align: center;
  border: 1px solid black;
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}
