#BFX_OFFSET_VALUE{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 1.25em;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
}

#CBEX_OFFSET_VALUE{
  font-size: 2em;
  font-weight: bold;
}
